{% extends 'core/base.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center ">My coupons</h2>

        <div class="grid grid-cols-3 gap-3">
            {% for coupon in coupons %}
              <div>
                  <a href="{% url 'coupon:detail' coupon.id %}">
                      <div>
                          <img src="{{coupon.image.url}}" class="rounded-t-xl">
                      </div>

                      <div class="p-6 bg-white rounded-b-xl">
                          <h2 class="text-2xl">{{ coupon.name }} </h2>
                      </div>
                  </a>
              </div>
            {% endfor %}
        </div>
    </div>

   <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center ">Categories</h2>

        <div class="grid grid-cols-3 gap-3">
            {% for category in categories %}
              <div>
                  <a href="#">
                      <div class="p-6 bg-white rounded-b-xl">
                          <h2 class="text-2xl">{{ coupon.title }}</h2>
                          <p class="text-gray-500">{{ category.coupons.count }} coupons </p>
                      </div>
                  </a>
              </div>
            {% endfor %}
        </div>
   </div>
{% endblock %}>